@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';

}

a {
    text-decoration: none;

}

header {
    height: 85px;
    display: flex;
    align-items: center;

}

.navHeader {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;


}

.containerlinks {
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    width: 210px;

}

.links {
    font-family: 'Raleway', sans-serif;    
    font-size: 20px;
    line-height: 27px;
    color: black;


}

.orange {
    color: orange;
}

.section1 {
    margin: 100px;
    display: flex;

}

h1 {
    width: 608px;
    margin-bottom: 40px;
    font-size: 50px;


}

p {
    margin-bottom: 30px;
    font-size: 18px;



}

button {
    margin-bottom: 20px;
    border: 150%;
    fill: solid;
    background-color: orange;
    border-radius: 3px;
    border: none;
    color: white;
    padding: 15px;
    align-items: center;
    font-size: 20px;

}

.texto p {
    font-size: 20px;

}
.section2 {
    background-color: #FF880026;
    padding: 50px 0;
}
.containergrid {
    width: 1400px;
    margin: 0 auto;


}
    
h2{
    font-size: 35px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.passeiodecachorro {
    margin: 40px;
    justify-content: space-around; 
    display: flex;  

}
.cartao1, .cartao2{
    background-color: white;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.cartao1 img, .cartao2 img {
    
    width: 270px;
    
} 
.cartao1 p, .cartao2 p {
    text-align: center;
}

.cartao1 a, .cartao2 a {
    text-decoration: underline;
}
